{% extends 'base.html' %}
{% block title %}Library{% endblock title %}
{% block search %}
    <form class="d-flex" role="search" action="{% url 'book_search' %}" method="GET">
        <input name="book_search" class="form-control me-2" type="search" placeholder="Search"
               aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
{% endblock search %}
{% block body %}
    <section style="margin-top: -70px" class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">

                <!-- Display Brand Name -->
                <h1 class="fw-light">$H!Fu Library</h1>

                <!-- Display Library Quote -->
                <p class="roboto-mono lead text-muted">Libraries store the energy that fuels the imagination. They open
                    up windows to the world and inspire us to explore and achieve, and contribute to improving our
                    quality of life.</p>
            </div>
        </div>
    </section>

    {% if book_list %}
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">

                    <!-- Looping through every book in database -->
                    {% for book in book_list %}
                        <div class="col">
                            <div class="card shadow-sm">

                                <!-- Display image of book -->
                                <img src="{{ book.image.url }}" alt="{{ book.title }}" height="500" width="100%"/>

                                <div class="card-body">

                                    <!-- Display title of book -->
                                    <h6>{{ book.title }}</h6>
                                    <!-- Display author's fullname of book -->
                                    <p class="card-text">{{ book.author.get_fullname }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <!-- Check user is logged -->
                                            {% if user.is_authenticated and user.is_staff %}
                                                <form action="{% url 'book_edit' pk=book.pk %}">
                                                    <button type="submit" class="btn btn-sm btn-outline-secondary">
                                                        Edit
                                                    </button>
                                                </form>
                                                <form action="{% url 'book_delete' pk=book.pk %}">
                                                    <button type="submit" class="btn btn-sm btn-outline-danger">
                                                        Delete
                                                    </button>
                                                </form>
                                            {% elif user.is_authenticated %}
                                                <!-- Check book quantity lower or equal to 0 and then disabled it -->
                                                <form action="{% url 'booK_borrow' pk=book.pk %}">
                                                    <button type="submit" class="btn btn-sm btn-outline-secondary"
                                                            {% if book.quantity <= 0 %}disabled{% endif %}>Borrow
                                                    </button>
                                                </form>
                                            {% endif %}
                                            <form action="{% url 'book_detail' pk=book.pk %}">
                                                <button type="submit" class="btn btn-sm btn-outline-primary">View
                                                </button>
                                            </form>
                                        </div>
                                        <!-- Check book quantity lower or equal to 0 and then display it -->
                                        {% if book.quantity > 0 %}
                                            <small class="text-muted">Quantity {{ book.quantity }}</small>
                                        {% else %}
                                            <small class="text-muted">This book is out of quantity</small>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% if is_paginated %}
                {% if page_obj.has_other_pages %}
                    <nav style="margin-top: 80px;">
                        <ul class="pagination justify-content-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page=1">
                                        First
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                                        Previous
                                    </a>
                                </li>
                            {% endif %}

                            {% for page_number in page_obj.paginator.page_range %}
                                {% if page_number <= page_obj.number|add:3 and page_number >= page_obj.number|add:-3 %}
                                    {% if page_obj.number == page_number %}
                                        <li class="page-item active">
                                            <a class="page-link" href="?page={{ page_number }}">
                                                {{ page_number }}
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_number }}">
                                                {{ page_number }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                                        Next
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                        Last
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                {% endif %}
            {% endif %}
        </div>
    {% else %}
        <div class="alert alert-primary" role="alert">
            No Books Available Right Now
        </div>
    {% endif %}
{% endblock body %}