{% extends 'base.html' %}
{% block title %}Library | Login{% endblock title %}
{% block body %}
    {% if error %}
        <div class="alert alert-primary" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <!-- Section: Design Block -->
    <section style="margin-top: 50px">
        <!-- Jumbotron -->
        <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
            <div class="container">
                <div class="row gx-lg-5 align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h1 class="my-5 display-3 fw-bold ls-tight">
                            $H!Fu Library<br/>
                            <span class="text-primary">for your business</span>
                        </h1>
                        <p style="color: hsl(217, 10%, 50.8%)">
                            Libraries store the energy that fuels the imagination. They open
                            up windows to the world and inspire us to explore and achieve, and contribute to improving
                            our
                            quality of life.
                        </p>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="card">
                            <div class="card-body py-5 px-md-5">
                                <form method="POST">
                                    {% csrf_token %}
                                    <!-- Username input -->
                                    <div class="form-outline mb-4">
                                        <input name="username" type="text" id="form3Example3" class="form-control"/>
                                        <label class="form-label" for="form3Example3">Username</label>
                                    </div>

                                    <!-- Password input -->
                                    <div class="form-outline mb-4">
                                        <input name="password" type="password" id="form3Example4" class="form-control"/>
                                        <label class="form-label" for="form3Example4">Password</label>
                                    </div>


                                    <!-- Submit button -->
                                    <button type="submit"
                                            class="btn btn-primary btn-block mb-4">
                                        Login
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->
{% endblock body %}