{% extends 'base.html' %}
{% block title %}Library | Register{% endblock title %}
{% block body %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 style="margin-bottom: 30px;">
            $H!Fu Library
            <small class="text-muted">User Registration</small>
        </h3>
        {{ user_form.as_p }}
        {{ borrower_form.as_p }}
        <input type="submit" value="Submit" class="btn btn-primary" style="margin-top: 20px;">
    </form>
{% endblock body %}